$color_main:red;
$open-sans: '"Roboto", sans-serif',
sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: $open-sans;
    background-color: rgba(0, 0, 0, 0.99);
}

/*---Loading---*/
.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 100000;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* ---MENU--- */
nav {
    background-color: rgba(255, 251, 251, 0.8);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.20)
}

.nav-item {
    font-size: 15px;

    .fas,
    .fa,
    .far {
        font-size: 25px;
    }

}

.navbar-dark .navbar-nav {
    ul {
        color: rgba(0, 0, 0, 0.70);

        &:hover {
            color: white;
        }
    }

    .nav-link {
        color: rgba(0, 0, 0, 0.70);

        &:hover {
            color: red;
        }
    }
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.form-group {
    margin-bottom: 0;
}

/*----content----*/


.section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;

    video {
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .buy_ticket {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 14px;
        width: 25%;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.5);
        overflow-y: auto;

        .buy {
            background-color: $color_main;
            width: 60%;
            font-size: 0.8em;
            text-transform: uppercase;
            text-align: center;

            h4 {
                margin: 0;
                padding: 5px;
                line-height: 28px;
            }
        }

        .btn-tab {
            display: flex;

            button {
                padding: 5px 15px;
                background-color: transparent;
                border: none;
                font-weight: 500;
                border-bottom: 1px solid white;
                color: white;
                width: 33.3%;
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: $color_main;
                    border-bottom: 1px solid $color_main;
                }

                &.active {
                    border-bottom: 1px solid $color_main;
                    color: $color_main;
                }

                &:focus {
                    outline: 0;
                    outline-style: none;
                    outline-width: 0;
                }
            }
        }

        .content {
            display: none;

            &:nth-child(1) {
                display: block;
            }

            select {
                padding: 5px;
                width: 90%;
                margin: 10px 5%;
                background-color: rgba(255, 251, 251, 0.2);
                color: white;

                &:focus {
                    outline: 0;
                    outline-style: none;
                }

                &:nth-child(1) {
                    margin-top: 20px;
                }
            }
        }

        .send {
            float: right;
            margin-right: 5%;
            margin-bottom: 5%;

            button {
                background-color: $color_main;
                border: none;
                padding: 5px 20px;

                a {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background-color: white;
                }

                &:hover a {
                    color: $color_main;
                }
            }
        }
    }

    /*---button trailer---*/
    .btn_trailer {
        position: absolute;
        bottom: 19%;
        left: 15%;

        .btn__trailer {
            border: none;
            display: block;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            outline: none;
            overflow: hidden;
            position: relative;
            color: #fff;
            font-weight: 700;
            font-size: 15px;
            background-color: #222;
            padding: 20px 70px;
            margin: 0 auto;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);

            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 20px;
                height: 490%;
                width: 140%;
                background: #78c7d2;
                -webkit-transition: all .5s ease-in-out;
                transition: all .5s ease-in-out;
                -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
                transform: translateX(-98%) translateY(-25%) rotate(45deg);
            }

            &:hover:after {
                -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
                transform: translateX(-9%) translateY(-25%) rotate(45deg);
            }

            span {
                position: relative;
                z-index: 1;
            }
        }
    }

    //Phim hot
    .film_list {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .column {
            width: 25%;
            height: 100%;
            box-sizing: border-box;
            border-right: 2px solid rgba(0, 0, 0, 0.5);
            overflow: hidden;

            &:last-child {
                border-right: none;
            }

            .play_trailer {
                position: relative;
                top: 50%;
                transform: translateY(100%);
                font-size: 20px;
                box-sizing: border-box;
                opacity: 0;
                margin: auto;
                width: 70%;
                text-align: center;
                transition: 1s;

                .play {
                    width: 50px;
                    height: 50px;
                    border: none;
                    font-size: 50px;
                    color: $color_main;
                    background-color: transparent;

                    &:hover {
                        color: white;
                    }

                    &:focus {
                        outline: 0;
                        outline-style: none;
                    }
                }

                .detail {
                    margin-top: 150px;
                    display: flex;
                    justify-content: space-between;

                    button {
                        padding: 5px 15px;
                        border: none;
                        margin-right: 10px;
                        font-weight: bold;

                        a {
                            text-decoration: none;
                            color: white;
                        }

                        &:nth-child(1) {
                            background-color: $color_main;
                            color: white;

                            &:hover {
                                background-color: white;
                                color: $color_main;
                            }

                            &:hover a {
                                color: $color_main;
                            }
                        }

                        &:nth-child(2) {
                            background-color: white;
                            color: $color_main;
                            border: 2px solid $color_main;

                            a {
                                color: $color_main;
                            }

                            &:hover {
                                background-color: $color_main;
                            }

                            &:hover a {
                                color: white;
                            }
                        }
                    }
                }
            }

            &.active {
                .play_trailer {
                    opacity: 1;
                    transform: translateY(-50%);
                }

                .bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    pointer-events: none;
                    z-index: -1;

                    &.bg1 {
                        background-image: url('../img/phim.jpg');
                        background-position: center;
                        background-size: cover;
                        transition: 0.5s;
                    }

                    &.bg2 {
                        background-image: url('../img/bg_1.jpg');
                        background-position: center;
                        background-size: cover;
                        transition: 0.5s;
                    }

                    &.bg3 {
                        background-image: url('../img/2048x682-1561619389458_1562311727486.jpg');
                        background-position: center;
                        background-size: cover;
                        transition: 0.5s;
                    }

                    &.bg4 {
                        background-image: url('../img/trailer_9.jpg');
                        background-position: center;
                        background-size: cover;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .popup_trailer {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
        display: none;
        opacity: 0;

        .iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.show {
            display: block;
            transition: 2s;
        }
    }

    //Trang chi tiáº¿t
    &:nth-child(3) {
        display: flex;
        flex-wrap: wrap;

        .detail_left {
            top: 0;
            left: 0;
            width: 35%;
            height: 100vh;
            position: relative;

            img {
                width: 100%;
            }
        }

        .detail_right {
            width: 65%;
            height: 100vh;
            position: relative;

            .detail_inner {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                height: 70vh;
                transform: translate(-50%, -40%);
                background-color: rgba(255, 251, 251, 0.3);
                border-top-left-radius: 0.25em;
                border-top-right-radius: 0.25em;
                box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.20);

                .nav-tabs {
                    position: relative;

                    .nav-link {
                        padding: 0.5em 5.55em;
                        border: unset;
                        color: white;

                        &.active {
                            color: $color_main;
                        }

                    }
                }

                .tab-content {
                    letter-spacing: 0.05em;

                    .tab-pane {
                        color: white;

                        strong {
                            color: rgb(0, 0, 0);
                        }

                        h3 {
                            color: rgba(235, 15, 15, 0.99);
                        }
                    }

                    p {
                        margin-bottom: 0.5rem;
                    }

                    #menu1 {
                        letter-spacing: 0.1em;
                    }

                }
            }
        }
    }

    //event
    .event_news {
        position: absolute;
        top: 15vh;
        height: 85vh;
        left: 0;
        margin-left: 5%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;

        h3 {
            color: $color_main;
            font-size: 30px;
            font-weight: 500;
            display: inline;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 50px;
                height: 2px;
                background-color: $color_main;
            }
        }

        .event_left {
            width: 50%;
            height: 100%;
            padding: 5px 20px 5px 10px;

            h6 {
                text-align: right;
                padding-bottom: 5px;
                padding-top: 15px;

                a {
                    text-decoration: none;
                    color: white;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: -2px;
                        width: 0%;
                        height: 2px;
                        background-color: $color_main;
                        transition: 0.5s;
                    }

                    &:hover {
                        color: $color_main;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }

            .event_detail {
                display: flex;
                padding-top: 14px;

                .event_slide {
                    width: 33.333%;
                    overflow: hidden;
                    transition: 1s;
                    position: relative;

                    &:hover {
                        width: 69%;
                    }

                    &:hover .detail_event_inner {
                        bottom: 0;
                    }

                    .detail_event_inner {
                        position: absolute;
                        width: 100%;
                        height: 30%;
                        background-color: rgba(0, 0, 0, 0.7);
                        bottom: -30%;
                        left: 0;
                        transition: 1s;
                        text-align: center;
                        color: white;
                        overflow-y: auto;

                        h5 {
                            margin-top: 10px;
                            padding-left: 5%;
                        }

                        button {

                            padding: 5px 15px;
                            border: 1px solid white;
                            background-color: transparent;

                            a {
                                color: white;
                                text-decoration: none;
                                font-weight: 500;
                                text-transform: uppercase;
                            }

                            &:hover {
                                background-color: $color_main;
                            }
                        }
                    }
                }
            }
        }

        .news {
            width: 50%;
            height: 100%;
            padding: 5px 10px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;

            .slide_news {
                width: 100%;
                display: flex;
                color: white;
                overflow-y: auto;

                .image_news {
                    width: 40%;
                    position: relative;
                    text-align: center;
                    overflow: hidden;

                    img {
                        transition: 1s;
                    }

                    &:hover img {
                        transform: scale(1.2);
                        transition: 1s;
                    }
                }

                .detail_news {
                    padding-left: 10px;
                    display: inline;
                    font-size: 1em;
                    overflow-y: auto;
                    width: 60%;

                    p {
                        margin: 0;
                        overflow-y: auto;
                    }

                    h5 {
                        &.img {
                            color: $color_main;
                        }

                        &:hover {
                            color: $color_main;
                        }
                    }

                }
            }
        }
    }

    //footer
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
    }

    //list_event
    .list_event_detail{
        position: relative;
        overflow: hidden;
        .event__detail{
            background-color: rgba(0, 0, 0, 0.20);
            position: absolute;
            bottom:0;
            left: 0;
            text-align: center;
        }
    }
}

@import 'style_reponsive';
@import 'style_detail_film';
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .form-group {
        width: 150%;
    }
}

@media only screen and (max-width: 320px) {
    .form-group {
        width: 125%;
    }
}

@media only screen and (max-width: 440px) {
    .form-group {
        width: 145%;
    }
}